[submodule "Practicas/Lab02/Practicas/Lab02/ds-2026-27-lab-02-adrigarcias"]
	path = Practicas/Lab02/Practicas/Lab02/ds-2026-27-lab-02-adrigarcias
	url = https://github.com/ds-acebal-2026-27/ds-2026-27-lab-02-adrigarcias
